.login-container {
  background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 558px;
    width: 75%;
    margin: auto;
}

.login-title {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login-error {
  background-color: #fee2e2;
  color: #b91c1c;
  padding: 0.75rem 1rem;
  border-radius: 8px;
}

.login-group label {
  color: #4b5563;
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
}

.login-input-wrapper {
  position: relative;
}

.login-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #9ca3af;
}

.login-input-wrapper input {
  width: 84%;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
}

.login-input-wrapper input:focus {
  border-color: #7c3aed;
  box-shadow: 0 0 0 2px rgba(124, 58, 237, 0.2);
}

.login-terms {
  font-size: 0.875rem;
  color: #6b7280;
}

.login-terms a {
  color: #7c3aed;
  text-decoration: none;
}

.login-terms a:hover {
  text-decoration: underline;
}

.login-button {
  background-color: #7c3aed;
  color: white;
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #6d28d9;
}

.login-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.login-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5rem 0;
}

.login-divider::before,
.login-divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #d1d5db;
}

.login-divider span {
  padding: 0 1rem;
  color: #6b7280;
  font-size: 0.875rem;
}

.login-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-btn {
  width: 40px;
  height: 40px;
  background-color: #e5e7eb;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.social-btn:hover {
  background-color: #d1d5db;
}

.login-footer {
  text-align: center;
  margin-top: 1rem;
}

.signup-link {
  color: #7c3aed;
  font-weight: 500;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
